<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="/" id="navigator">Navbar</a>
        <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
            <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
                <!--            <img class="mr-2" src="https://pro.propeller.in/assets/images/avatar-icon-40x40.png" width="40" height="40" alt="avatar">-->
                <div class="media-body">
                    Hello
                </div>
                <i class="material-icons md-light ml-2 pmd-sm" id="prof-name">more_vert</i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="/user/edit">Edit Profile</a>
                <a class="dropdown-item" href="/user/register">Logout</a>
            </ul>
        </div>
    </nav>
</div>
<div id="container" class="text-center d-flex flex-column align-items-center mt-5" style="height: 500px">

</div>
<script>

    var response = httpGet("/user/profile");
    response = JSON.parse(response)
    if(response.role === null) {
        document.getElementById('navigator').href = '/'
        document.getElementById('prof-name').innerHTML = 'Guest'
    } else {
        document.getElementById('prof-name').innerHTML = response.name
    }
    const url = 'course-content/all'
    var json = httpGet(url);
    json = JSON.parse(json);
      console.log(name);
      for(var i = 0 ; i < json.length ; i++) {
          if(response.role == null && json[i].guestVisible === 0) {
              continue
          }
          var name = "\'"+ json[i].name +"\'";
          console.log(name);
          var card = '<div class="card" style="width: 18rem;">\n' +
              '        <div class="card-body">\n' +
              '            <h5 class="card-title">'+ json[i].description +'</h5>\n' +
              '            <p class="card-text">'+ json[i].name +'</p>\n' +
              '            <a href="#" class="btn btn-primary" onclick="aTagClick(' +name+ ')">Download</a>\n' +
              '        </div>\n' +
              '    </div>'+
              '<br><br>'
          // document.body.innerHTML += '<div> <a href="#" onclick="aTagClick(' +name+ ')" > '+ json[i].id + '   --- ' + json[i].description + ' </a></div>'
          document.getElementById('container').innerHTML += card
    }
  function aTagClick(name) {
      console.log(name)
      console.log(httpGet('course-content/download/' + name));
      alert("Successfully Downloaded!!!!!!")
  }

  function httpGet(url)
  {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", url, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
  }
</script>
</body>
</html>