<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Spring Boot File Upload Example</h1>
<hr/>
<h4>Upload Single File:</h4>
<form method="POST" th:action="@{/course-content/save}" enctype="multipart/form-data">
    <input type="file" name="file"/> <br/><br/>
    <label>Description :
        <input type="text" name="description"/>
    </label> <br/><br/>
    <p>Is this content visible to guests?</p>
    <br>
    <div>
        <input type="radio" id="yes" name="visible" value="yes"
               checked>
        <label for="yes">Yes</label>
    </div>
    <br>
    <div>
        <input type="radio" id="no" name="visible" value="no"
               >
        <label for="no">No</label>
    </div>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
<hr/>
</body>
</html>