<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Sign Up - CodeJava</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/header.js"></script>
</head>
<body>
<script>
  const url = 'all'
  var json = httpGet(url);
  json = JSON.parse(json);
  for(var i = 0 ; i < json.length ; i++) {
    var name = "\'"+ json[i].name +"\'";
    console.log(name);
    document.body.innerHTML += '<div class="text-center"> <a href="#" onclick="aTagClick(' +name+ ')" > '+ json[i].id + '   --- ' + json[i].description + ' </a></div>'
  }
  var courseContent;
  function aTagClick(name) {
    var emailChange = name;
    courseContent = httpGet(emailChange)
    if(courseContent === ""){
      alert("Course Content not Found!")
    }else {
      courseContent = JSON.parse(courseContent);
      var status = httpDelete('delete',JSON.stringify(courseContent))
      if(status === 200) {
        document.body.innerHTML += '<div class="text-center"><h1>Successfully Deleted!</h1></div>'
      }else {
        document.body.innerHTML += '<div class="text-center"><h1>An error has occurred</h1></div>'
      }
    }
  }
</script>
</body>
</html>