<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="/prof" id="navigator">Navbar</a>
        <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
            <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
                <!--            <img class="mr-2" src="https://pro.propeller.in/assets/images/avatar-icon-40x40.png" width="40" height="40" alt="avatar">-->
                <div class="media-body">
                    Hello
                </div>
                <i class="material-icons md-light ml-2 pmd-sm" id="prof-name">more_vert</i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="/user/edit">Edit Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </ul>
        </div>
    </nav>
</div>
<div class="container text-center mt-3">
    <div id="search-div">
    <label id="email-change-label">email :
        <input type="text" name="family-name" id="email-change"/>
    </label> <br/><br/>
    <button onclick="buttonGetClick()" id="email-change-button">Submit</button>
    <br/><br/>
    <div class="border-bottom "></div>
    <br/><br/>
    </div>
    <label> email :
        <input type="text" name="email" id="email"/>
    </label> <br/><br/>
    <label> password :
        <input type="text" name="pass" id="pass"/>
    </label> <br/><br/>
    <label>name :
        <input type="text" name="name" id="name"/>
    </label> <br/><br/>
    <label>family name :
        <input type="text" name="family-name" id="family-name"/>
    </label> <br/><br/>
        <button onclick="buttonChange()">Change</button>
</div>
<script>

    var response = httpGet('profile')
    response = JSON.parse(response)
    document.getElementById('prof-name').innerHTML = response.name
    if(response.role !== 'ROLE_ANONYMOUS') {
        document.getElementById('email').value = response.email;
        document.getElementById('pass').value = response.password;
        document.getElementById('name').value = response.name;
        document.getElementById('family-name').value = response.familyName;
    }
    if(response.role !== 'ROLE_PROF') {
        document.getElementById("search-div").remove()
        document.getElementById('navigator').href = '/student'
    }

    var user = response
    function buttonGetClick() {
        var emailChange = document.getElementById('email-change').value;
        user = httpGet(emailChange)
        if(user === ""){
            alert("User not Found!")
        }else {
            user = JSON.parse(user)
        }
        document.getElementById('email').value = user.email;
        document.getElementById('pass').value = user.password;
        document.getElementById('name').value = user.name;
        document.getElementById('family-name').value = user.familyName;
    }

    function buttonChange() {
        user.email = document.getElementById('email').value
        user.password = document.getElementById('pass').value
        user.name = document.getElementById('name').value
        user.familyName = document.getElementById('family-name').value
        var status = httpPut('edit',JSON.stringify(user))
        if(status === 200) {
            document.body.innerHTML += '<div class="text-center"><h1>Successfully Changed!</h1></div>'
        }else {
            document.body.innerHTML += '<div class="text-center"><h1>An error has occurred</h1></div>'
        }
    }
</script>
</body>
</html>