<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Professor - Course content</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/header.js"></script>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="/prof">Navbar</a>
    <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
      <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
        <!--            <img class="mr-2" src="https://pro.propeller.in/assets/images/avatar-icon-40x40.png" width="40" height="40" alt="avatar">-->
        <div class="media-body">
          Hello
        </div>
        <i class="material-icons md-light ml-2 pmd-sm" id="prof-name">more_vert</i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <a class="dropdown-item" href="/user/edit">Edit Profile</a>
        <a class="dropdown-item" href="/logout">Logout</a>
      </ul>
    </div>
  </nav>
</div>
<div class="text-center d-flex flex-column align-items-center mt-5" style="height: 500px">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">View Course Content</h5>
      <a href="/course-content" class="btn btn-primary">View</a>
    </div>
  </div>
  <br>
  <br>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Add Course Content</h5>
      <a href="/course-content/save" class="btn btn-primary">Add</a>
    </div>
  </div>
  <br>
  <br>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Edit Course Content</h5>
      <a href="/course-content/edit" class="btn btn-primary">Edit</a>
    </div>
  </div>
  <br>
  <br>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Delete Course Content</h5>
      <a href="/course-content/delete" class="btn btn-primary">Delete</a>
    </div>
  </div>
  <br>
  <br>


</div>

<script>
  var response = httpGet("/user/profile");
  response = JSON.parse(response)
  document.getElementById('prof-name').innerHTML = response.name
</script>
</body>
</html>